@charset "utf-8";
/* CSS Document */


.portfolioDiv
{
	background: radial-gradient(circle, blue, white);
	border: solid 2px black;
}

.pageTitle
{
	text-align: center;
}

.portfolioDiv a
{
	text-decoration: none;
}

/*
.portfolioDiv a:link
{
	color: white;
}
*/
.portfolioDiv a:visited
{
	color: white;
}

.liClass
{
	color: black;
}

.aClass
{
	width: 140px;
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	text-align: center;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: firebrick;
	color: green;	
}
.aTBDClass
{
	width: 140px;
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	text-align: center;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: white;
	color: yellow;	
}
.aTBDClass a:link
{
	color: black;
}
.aTBDClass a:visited
{
	color: black;
}



/*Readings styles*/
.readingSection
{
	border: 2px solid red;
	background: radial-gradient(circle, #C43133, white);
}
.readingSection p
{
	margin: 2px 0 2px 0;
}
.readingSection a
{
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: firebrick;
	color: white;
}
.readingTitle
{
	text-align: center;
	color: black;
}
.readingCategory
{
	margin-left: 20px;
}

/*Reports styles*/
.reportSection
{
	border: 2px solid blue;
	background: radial-gradient(circle, blue, white);
}
.reportTitle
{
	text-align: center;
	color: black;
}
.reportCategory
{
	margin-left: 20px;	
}
.reportSection a
{
	margin-left: 10px;
}
.reportSection a:link
{
	color: red;
}
.reportSection a:visited
{
	color: orangered;
}
.reportSection p
{
	margin: 2px 0 2px 0;
}
.footerSection
{
	border: 2px solid red;
	background: radial-gradient(circle, #C43133, white);	
}

/*Footer Styles*/
.footerSection a
{
	display: inline-block;
	margin: 20px 0 20px 20px;
	text-decoration: none;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: firebrick;
	color: white;
}
