@charset "utf-8";
/* CSS Document */

.portfolioDiv
{
	background: radial-gradient(circle, blue, white);
	border: solid 2px black;
}

.pageTitle
{
	text-align: center;
}

.portfolioDiv a
{
	text-decoration: none;
}

.portfolioDiv a:link
{
	color: white;
}

.liClass /* This is the active link class */
{
	color: black;
}
.liClass a:link  /* a link will be black when unvisited */
{
	color: black;
}

.liClass a:visited
{
	color: white;
}
.liClass a:hover
{
	color: white;
}

.liInactiveClass /* THis is the inactive link class */
{
	color: black;
}
.liInactiveClass a:link  /* a link will be black when unvisited */
{
	color: black;
}
.liInactiveClass a:visited
{
	color: white;
}
.liInactiveClass a:hover
{
	color: goldenrod;
}

.aClass
{
	width: 140px;
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	text-align: center;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: firebrick;
	color: white;
}

.aTBDClass
{
	width: 140px;
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	text-align: center;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: gray;
	opacity: 50%;
	color: black;
}

/*Readings styles*/
.readingSection
{
	border: 2px solid red;
	background: radial-gradient(circle, #C43133, white);
}
.readingSection p
{
	margin: 2px 0 2px 0;
}
.readingSection a
{
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: firebrick;
	color: white;
}
.readingTitle
{
	text-align: center;
	color: black;
}
.readingCategory
{
	margin-left: 20px;
}

/*Reports styles*/
.reportSection
{
	clear: left;
	border: 2px solid blue;
	background: radial-gradient(circle, blue, white);
}

.reportSection a
{
}

.reportTitle
{
	text-align: center;
	color: black;
}
.reportCategory
{
	margin-left: 20px;
}
.reportSection a
{
	display: inline-block;
	margin: 20px 0 0 20px;
	text-decoration: none;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: firebrick;
	color: white;
}
.reportSection a:link
{
	color: white;
}
.reportSection a:visited
{
	color: white;
}
.reportSection p
{
	margin: 2px 0 2px 0;
}
.footerSection
{
	border: 2px solid red;
	background: radial-gradient(circle, #C43133, white);
}

/*Footer Styles*/
.footerSection a
{
	display: inline-block;
	margin: 20px 0 20px 20px;
	text-decoration: none;
	padding: 3px;
	border: solid 1px black;
	border-radius: 8px;
	background-color: firebrick;
	color: white;
}

.colList
{
	display: block;
	width: 25%;
	float: left;
}

.preContents
{
	margin-left: 40px;
}
