@charset "utf-8";
/* CSS Document */

body
{
  background-image: url('background-2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

.topDisplay
{
  color: white;
  padding: 20px;
  text-align: center;
  margin: 20px 20px 0 20px;
}

.swpButton
{
  width: 200px;
  margin: 40px 20px 40px 0;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	background-color: #243E02;
	color: white;
	cursor: pointer;
}

.swsButton
{
  width: 200px;
  margin: 40px 0px 40px 20px;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	background-color: #243E02;
	color: white;
	cursor: pointer;
}

.nextButton
{
  width: 130px;
  margin: 40px 0px 0px 0;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	background-color: #243E02;
	color: white;
	cursor: pointer;
}

.prevButton
{
  width: 130px;
  margin: 40px 40px 0px 0;

	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	background-color: #243E02;
	color: white;
	cursor: pointer;
  grid-column-start: 2;
}

.peopleCount
{
  font-size: 30px;
  margin-bottom: 0px;
  color: white;
}

.shipCount
{
  font-size: 30px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
}

.shipRange
{
  font-size: 20px;
  color: white;
  text-align: center;
}

.peopleRange
{
  font-size: 20px;
  color: white;
}

li
{
  font-size: 20px;
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
}

.listTitle
{
  list-style-type: none;
  font-size: 30px;
  padding-left: 0;
}

.outputDisplay
{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

h1.detailsTitle
{
  color: red;
  font-size: 30px;
  justify-self: center;
}

.detailsTitle
{
  justify-self: center;
}


.outputDiv1
{
  /* grid-column-start: 1; */
  grid-column-start: 2;
  text-align: center;
  justify-self: center;
  /* border: solid 2px black; */
}

.outputDiv2
{
  /* grid-column-start: 2; */
  grid-column-start: 3;
  text-align: center;
  align-self: start;
  /* border: solid 2px red; */
}

.outputDiv3
{
  /* grid-column-start: 3; */
  grid-column-start: 4;
  text-align: center;
  justify-self: center;
  /* border: solid 2px red; */
}

.outputDiv4
{
  grid-column: 2 / 5;
  padding: 0px 250px;
  margin: 0px 20px 0 0px;
  color: white;
}


ul
{
  color: white;
}

.nameLink
{
  color: orange;
}

.rangeLink
{
  color: white;
  font-size: 20px;
  text-align: center;
}

.rangeLink a
{
  display: inline-block;
  color: white;
  padding: 0 0 5px 0;
}

.outputDiv2
{
  color: white;
  /* display:block; */
}
